
.modal {
  position: absolute;
  width: 400px;
  border: 1px solid #555;
  font-family: arial;
  font-size: 18px;
  padding: 5px;
}

.modal h1 {
  font-size: 18px;
  text-align: center;
}

.user-form-container {
  margin: 5px;
}

.user-form-container div {
  width: 180px;
  display: inline-block;
}

.submit-button {
  background: blue;
  color: white;
  border: 0px;
  width: 90px;
  height: 26px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 5px 0px 0px;
  cursor: pointer;
}

.register-container {
  text-align: center;
}

.signin-container {
  text-align: right;
}

.error-message {
  margin-left: 5PX;
  color: red;
  font-size: 16px;
}

.comment-container {
  margin-left: 5px;
}

.comment-container .comment p {
    margin: 0;
}

.comment-container textarea {
  width: 100%;
  height: 300px;
}

.comment-container li {
  text-decoration: none;
  margin: 0px 0px 6px 3px;
  border-bottom: 1px solid #eee;
  padding: 2px;
}

.comment-container li div {
  display: inline-block;
  font-family: arial;
  font-size: 16px;
}

.comment-container button.submit-button {
  width: 150px;
}

.submission-date {
  font-size: 14;
  font-family: arial;
  vertical-align: top;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}
